################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ShoppingCart/bin/Debug/net10.0
/ShoppingCart/obj/Debug/net10.0
