# Ignore build outputs
bin/
obj/

# Visual Studio
essentials
.vs/
*.user
*.suo

# Git
.git/
.gitignore

# IDEs
.vscode/
.idea/

# Node / tooling
node_modules/

# Docker compose and local env
docker-compose.*
.env

# Temporary files
*.log
*.tmp

# Publish output
app/publish/

# OS files
Thumbs.db
.DS_Store
